<!-- <div class="single-features-list normal-device">
                        <div class="feature-list-icon">
                            <i class="zmdi zmdi-favorite"></i>
                        </div>
                        <div class="feature-list-text text-right">
                            <h3>Product 1</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu condimentum ma Pellentesque mollis eros vel.
                            </p>
                        </div>
                    </div>
                    <div class="single-features-list normal-device">
                        <div class="feature-list-icon">
                            <i class="zmdi zmdi-language-html5"></i>
                        </div>
                        <div class="feature-list-text text-right">
                            <h3>Product 2</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu condimentum ma Pellentesque mollis eros vel.
                            </p>
                        </div>
                    </div>
                    <div class="single-features-list mrn-nn normal-device">
                        <div class="feature-list-icon">
                            <i class="zmdi zmdi-desktop-mac"></i>
                        </div>
                        <div class="feature-list-text text-right">
                            <h3>Product 3</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu condimentum ma Pellentesque mollis eros vel.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">      
                <div class="feature-top">
                    <div class="feature-img">
                        <img src="img/mobile/3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="feature-list res2">
                    <div class="single-features-list2 sfl-lsft normal-device">
                        <div class="feature-list-icon2">
                            <i class="zmdi zmdi-collection-text"></i>
                        </div>
                        <div class="feature-list-text2 res1">
                            <h3>Product 4</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu condimentum ma Pellentesque mollis eros vel.
                            </p>
                        </div>
                    </div>
                    <div class="single-features-list2 sfl-lsft normal-device">
                        <div class="feature-list-icon2">
                            <i class="zmdi zmdi-sun"></i>
                        </div>
                        <div class="feature-list-text2">
                            <h3>Product 5</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu condimentum ma Pellentesque mollis eros vel.
                            </p>
                        </div>
                    </div>
                    <div class="single-features-list2 mrn-nn sfl-lsft normal-device">
                        <div class="feature-list-icon2">
                            <i class="zmdi zmdi-brush"></i>
                        </div>
                        <div class="feature-list-text2 res1">
                            <h3>Product 6</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu condimentum ma Pellentesque mollis eros vel.
                            </p>
                        </div>
                    </div>
                </div> -->