:root {
    --cyberBlue: #00afef;
    --cyberRed: #ec2a2f;
}

.cyberRed {
    color: var(--cyberRed) !important;
}

.cyberBlue {
    color: var(--cyberBlue) !important;
}

article .retitle .post-title {
    max-height: 260px;
    overflow-y: hidden
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2)format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2)format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2)format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2)format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2)format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2)format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.share-buttons {
    display: flex;
    justify-content: flex-end;
}

.share-buttons .share-button {
    margin: 3px;
}

.rcp-title {
    height: 60px !important;
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0
}

ins {
    text-decoration: underline
}

del {
    text-decoration: line-through
}

.post-header,
.post-footer {
    line-height: 1.6;
}

.post-title {
    color: #2f2f2f;
    font-size: 28px;
    line-height: 1.5em;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.slide-bottom-caption {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 999;
    color: white;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column
}

.slide-bottom-caption h1 {
    text-align: center;
    color: white;
}

.slide-bottom-caption h1 a {
    color: white;
}

#featured-slider .slides li {
    position: relative;
}

blockquote {
    font-size: 17px;
    line-height: 1.5em;
    font-style: italic;
    color: #2f2f2f
}

dl,
ul {
    list-style-position: inside;
    font-weight: 700;
    list-style: none
}

ul li {
    list-style: none
}

caption,
th {
    text-align: center
}

img {
    border: none;
    position: relative
}

a,
a:visited {
    text-decoration: none
}

.clear {
    clear: both
}

.section,
.widget,
.widget ul {
    margin: 0;
    padding: 0
}

a {
    color: #446CB3
}

a:hover {
    color: #446CB3
}

:focus {
    outline: 0
}

a img {
    border: 0
}

brc {
    color: #bdbdbd
}

.CSS_LIGHTBOX {
    z-index: 999999!important
}

.separator a {
    clear: none!important;
    float: none!important;
    margin-left: 0!important;
    margin-right: 0!important
}

#navbar-iframe {
    display: none;
    height: 0;
    visibility: hidden
}

.widget-item-control,
a.quickedit {
    display: none!important
}

.archive .home-link,
.index .home-link,
.home-link {
    display: none!important
}

* {
    outline: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease
}

:after,
:before {
    transition: all .0s ease;
    -webkit-transition: all .0s ease;
    -moz-transition: all .0s ease;
    -o-transition: all .0s ease
}

.status-msg-wrap {
    margin: 0 auto 20px;
    text-transform: uppercase;
    font-size: 10px
}

.status-msg-border {
    border: 1px solid #F3F3F3;
    opacity: .7;
    border-radius: 2px
}

.status-msg-bg {
    background-color: #FFF;
    opacity: 1;
    filter: none
}

.status-msg-body,
.status-msg-hidden {
    padding: .5em 0
}

.feed-links {
    clear: both;
    display: none;
    line-height: 2.5em
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}

.group:before,
.group:after {
    content: "";
    display: table
}


/* Body */

body {
    background: #F3F3F3 url() repeat scroll top left;
    font: normal normal 14px Roboto;
    color: #4f4f4f;
    word-wrap: break-word;
    margin: 0;
    padding: 0
}

#outer-wrapper {
    max-width: 100%;
    margin: 0 auto;
    background-color: #Fafafa
}

.row {
    width: 1160px
}

#content-wrapper {
    margin: 40px auto;
    overflow: hidden
}

#main-wrapper {
    float: left;
    overflow: hidden;
    width: 770px;
    word-wrap: break-word
}

.item #main-wrapper,
.static_page #main-wrapper {
    background-color: #fff;
    box-sizing: border-box;
    padding: 25px
}

#sidebar-wrapper {
    float: right;
    overflow: hidden;
    width: 360px;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-bottom: 20px
}

#main-header {
    background-color: #446CB3;
    height: 75px;
}

.tm-head {
    margin: 0 auto;
}

#logo-wrap {
    float: left;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: 60px
}

#logo-wrap #header {
    float: left
}

#header-inner a,
.home #header-inner .titlewrapper {
    height: 75px;
    padding: 0;
    float: left;
    color: #fff;
    line-height: 72px;
    display: inline-block!important;
    vertical-align: middle
}

#header-inner img {
    max-height: 60px;
    vertical-align: middle;
    display: inline-block!important;
    line-height: 60px;
    width: auto;
}

.Header h1 {
    font-family: Oswald;
    margin: 0
}

.descriptionwrapper {
    display: none
}

#tagline {
    margin-left: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.9);
}

#header-elements {
    float: right
}

#header-social {
    float: left;
    height: 75px;
    position: relative;
    display: block;
    margin-right: 0
}

#header-social ul {
    overflow: hidden
}

#header-social ul li {
    line-height: 75px;
    text-align: center;
    float: left;
    margin-top: 0;
    margin-left: 10px;
    padding: 0;
    position: relative
}

#header-social ul li a {
    text-align: center;
    color: #fff;
    font-size: 19px;
    position: relative;
    padding: 0 3px;
    text-decoration: none
}

#header-social ul li a:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#header-social ul li a:hover {
    color: #ddd
}

#header-social .facebook:before {
    content: "\f09a"
}

#header-social .twitter:before {
    content: "\f099"
}

#header-social .gplus:before {
    content: "\f0d5"
}

#header-social .rss:before {
    content: "\f09e"
}

#header-social .youtube:before {
    content: "\f167"
}

#header-social .skype:before {
    content: "\f17e"
}

#header-social .stumbleupon:before {
    content: "\f1a4"
}

#header-social .tumblr:before {
    content: "\f173"
}

#header-social .vine:before {
    content: "\f1ca"
}

#header-social .stack-overflow:before {
    content: "\f16c"
}

#header-social .linkedin:before {
    content: "\f0e1"
}

#header-social .dribbble:before {
    content: "\f17d"
}

#header-social .soundcloud:before {
    content: "\f1be"
}

#header-social .behance:before {
    content: "\f1b4"
}

#header-social .digg:before {
    content: "\f1a6"
}

#header-social .instagram:before {
    content: "\f16d"
}

#header-social .pinterest:before {
    content: "\f0d2"
}

#header-social .delicious:before {
    content: "\f1a5"
}

#header-social .codepen:before {
    content: "\f1cb"
}

#header-search {
    position: relative;
    width: 50px;
    height: 85px;
    float: left;
    border-left: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
    margin-left: 18px;
}

#search-icon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 50px;
    line-height: 75px;
    height: 75px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.11);
}

#nav-search {
    position: absolute;
    right: 0;
    top: 75px;
    z-index: 50;
    display: none;
    width: 302px;
    height: 74px;
    background-color: #446CB3;
    border-bottom: 2px solid #365388;
    transition: all 0s ease;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
}

#nav-search #searchform {
    width: 262px;
    position: absolute;
    left: 20px;
    top: 20px
}

#searchform {
    position: relative;
    height: 36px;
    overflow: hidden
}

#nav-search #s {
    width: 166px
}

#s {
    position: relative;
    height: 32px;
    padding-left: 12px;
    padding-right: 82px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: #fff;
}

#s:focus {
    color: #fff;
    outline: none
}

#searchsubmit {
    position: absolute;
    right: 2px;
    top: 2px;
    height: 32px;
    padding: 0 10px;
    color: #fff;
    background-color: #222;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background .3s
}

#searchsubmit:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

#menu {
    display: none
}

#main-nav {
    background-color: #fff;
    position: relative;
    z-index: 999;
    width: 100%;
    height: 60px;
    font-size: 13px;
    margin: 0 auto;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-menu {
    background-color: #fff;
    height: 60px;
    margin: 0 auto;
    position: relative;
    padding: 0
}

li.li-home {
    display: inline-block;
    position: relative;
    float: left;
    height: 60px;
    box-sizing: border-box;
    padding: 0;
}

li.li-home a {
    float: left;
    padding: 0 13px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto", Arial, sans-serif;
    color: #777;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

li.li-home:hover {
    background-color: #3a3a3a;
    color: #fff;
    border-bottom: 2px solid #446CB3
}

li.li-home:hover a {
    color: #fff
}

#main-nav ul li {
    position: relative;
    float: left;
    height: 60px;
    box-sizing: border-box;
    padding: 0;
}

#main-nav ul li a {
    float: left;
    color: #F2F2F2;
    padding: 0 13px;
    line-height: 60px;
    letter-spacing: .5px;
    font-family: "Roboto", Arial, sans-serif;
    color: #777;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

#main-nav ul li:hover {
    background-color: #3a3a3a;
    border-bottom: 2px solid #446CB3
}

#main-nav ul li:hover a {
    color: #fff
}

#main-nav ul li.has-children a:after {
    display: block;
    width: 9px;
    height: 60px;
    float: right;
    margin-left: 8px;
    content: "\f078";
    font-family: FontAwesome;
    font-size: 10px;
    line-height: 57px;
}

#main-nav ul li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 100;
    background-color: #2f2f2f;
    border-top: 0;
    box-shadow: 0 1px 3px rgba(40, 35, 40, 0.05);
    transition: all 0s ease;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease
}

#main-nav ul li ul li {
    height: auto;
    margin-left: 0;
    display: block;
    float: none;
    position: relative;
    overflow: hidden;
    line-height: normal;
    padding: 0;
    border-right: 0;
    border-bottom: 1px solid #3a3a3a
}

#main-nav ul li ul li:hover {
    border-bottom: 1px solid #3a3a3a;
}

#main-nav ul li ul li:last-child {
    border-bottom: 0
}

#main-nav ul li ul li a {
    min-width: 180px;
    font-weight: 400;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 16px!important;
    margin-top: 0;
    border: 0;
    transition: all .3s ease!important;
    -webkit-transition: all .3s ease!important;
    -moz-transition: all .3s ease!important;
    -o-transition: all .3s ease!important;
    padding: 0 13px;
    letter-spacing: .5px;
    font-family: "Roboto", Arial, sans-serif;
    color: #777;
    text-transform: uppercase;
    font-size: 13px;
}

#main-nav ul li:hover ul li a {
    color: #F2F2F2
}

#main-nav ul li ul li a:after {
    content: "";
    display: none!important
}

#main-nav ul li ul li a:hover {
    background-color: #678ed2;
    color: #fff!important;
    padding-left: 20px!important
}

#random-icon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 60px;
    width: 50px;
    background: rgb(78, 121, 199);
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}

#random-icon:hover {
    background-color: #3a3a3a
}

#random-icon a {
    height: 50px;
    display: block;
    overflow: hidden
}

div#random-icon:before {
    content: "\f074";
    font-family: "FontAwesome";
    font-size: 17px;
    color: #fff;
    line-height: 60px;
}

.selectnav {
    display: none;
    background-color: #3a3a3a;
    box-sizing: border-box;
    border: 0
}

.tipsy {
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    padding: 5px;
    z-index: 100000;
    transition: all .0s ease;
    -webkit-transition: all .0s ease;
    -moz-transition: all .0s ease;
    -o-transition: all .0s ease
}

.tipsy-inner {
    background-color: #446CB3;
    color: #FFF;
    max-width: 200px;
    padding: 4px 8px;
    text-align: center;
    transition: all .0s ease;
    -webkit-transition: all .0s ease;
    -moz-transition: all .0s ease;
    -o-transition: all .0s ease
}

.tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px dashed #2F2F2F;
    transition: all .0s ease;
    -webkit-transition: all .0s ease;
    -moz-transition: all .0s ease;
    -o-transition: all .0s ease
}

.tipsy-arrow-n {
    border-bottom-color: #446CB3;
    transition: all .0s ease;
    -webkit-transition: all .0s ease;
    -moz-transition: all .0s ease;
    -o-transition: all .0s ease
}

.tipsy-n .tipsy-arrow {
    top: 0px;
    left: 50%;
    margin-left: -5px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
    transition: all .0s ease;
    -webkit-transition: all .0s ease;
    -moz-transition: all .0s ease;
    -o-transition: all .0s ease
}

#slider-sec .widget h2 {
    display: none
}

#featured-slider * {
    transition: all 0 ease;
    -webkit-transition: all 0 ease;
    -moz-transition: all 0 ease;
    -o-transition: all 0 ease
}

#featured-slider {
    margin-bottom: 30px
}

#featured-slider,
#featured-slider .slides>li {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    list-style: none;
    padding: 0
}

#featured-slider .slider-img {
    height: 450px;
    overflow: hidden;
    display: block
}

#featured-slider img {
    width: 100%;
    height: 450px
}

#feat-star-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;
    border-top: 50px solid #446CB3;
    border-right: 50px solid transparent;
    border-left: 0 solid transparent
}

#feat-star {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    display: block;
    width: 50px;
    height: 50px;
    background: url(http://4.bp.blogspot.com/-p3zsSAbhpiE/V2MO2PX-rPI/AAAAAAAAAc8/81veXgK8A_YP6CnbOVsCwH7Aa6JcWPiKQCK4B/s1600/feat-star.png) no-repeat
}

#slider-nav a {
    position: absolute;
    top: 205px;
    z-index: 10;
    display: block;
    width: 36px;
    height: 36px;
    background: #446CB3;
    transition: background .3s;
    text-align: center;
}

a.flex-next:before {
    content: "\f054";
    font-size: 14px;
    font-family: "FontAwesome";
    color: #fff;
    line-height: 36px;
}

a.flex-prev:before {
    content: "\f053";
    font-size: 14px;
    font-family: "FontAwesome";
    color: #fff;
    line-height: 36px;
}

.social-count-plus>ul {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.social-count-plus>ul>li {
    display: block;
    float: none;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    padding: 0;
}

.social-count-plus>ul>li:last-child {
    margin-bottom: 0;
}

.social-count-plus>ul>li>a.icon {
    height: 40px;
    background: #999;
    display: block;
    width: 100%;
    border-radius: 2px;
}

.social-count-plus>ul>li>a.icon:hover {
    opacity: 0.8;
}

.social-count-plus>ul>li>span.items {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    pointer-events: none;
}

.social-count-plus>ul>li>span.items>span.count {
    font-size: 16px;
    display: inline-block;
    margin: 8px 0 8px 50px;
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff!important;
}

.social-count-plus>ul>li>span.items>span.label {
    margin-left: 10px;
    color: #fff;
    position: relative;
    top: -1px;
}

.social-count-plus>ul>li>a:after {
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    left: 14px;
    text-align: center;
    width: 20px;
    top: 0;
    bottom: 0;
    line-height: 40px;
}

.social-count-plus>ul>li>a:before {
    font-family: FontAwesome;
    content: "\f067";
    opacity: 0.5;
    color: #fff!important;
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    right: 6px;
    text-align: center;
    width: 20px;
    top: 0;
    bottom: 0;
    line-height: 40px;
}

.social-count-plus>ul>li>a:hover:before {
    opacity: 1;
}

.feets {
    width: 100%;
    display: block;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.social-count-plus>ul>li.count-comments>a {
    background: #bbb;
}

.social-count-plus>ul>li.count-comments>a:after {
    content: "\f086";
}

.social-count-plus>ul>li.count-facebook>a {
    background: #516eab;
}

.social-count-plus>ul>li.count-facebook>a:after {
    content: "\f09a";
}

.social-count-plus>ul>li.count-github>a {
    background: #2a2b2d;
}

.social-count-plus>ul>li.count-github>a:after {
    content: "\f09b";
}

.social-count-plus>ul>li.count-googleplus>a {
    background: #dc4e41;
}

.social-count-plus>ul>li.count-googleplus>a:after {
    content: "\f0d5";
}

.social-count-plus>ul>li.count-instagram>a {
    background: #674538;
}

.social-count-plus>ul>li.count-instagram>a:after {
    content: "\f16d";
}

.social-count-plus>ul>li.count-linkedin>a {
    background: #0077b5;
}

.social-count-plus>ul>li.count-linkedin>a:after {
    content: "\f0e1";
}

.social-count-plus>ul>li.count-pinterest>a {
    background: #bd081c;
}

.social-count-plus>ul>li.count-pinterest>a:after {
    content: "\f0d2";
}

.social-count-plus>ul>li.count-posts>a {
    background: #bbb;
}

.social-count-plus>ul>li.count-posts>a:after {
    content: "\f040";
}

.social-count-plus>ul>li.count-soundcloud>a {
    background: #ff8800;
}

.social-count-plus>ul>li.count-soundcloud>a:after {
    content: "\f1be";
}

.social-count-plus>ul>li.count-steam>a {
    background: #222222;
}

.social-count-plus>ul>li.count-steam>a:after {
    content: "\f1b6";
}

.social-count-plus>ul>li.count-tumblr>a {
    background: #35465c;
}

.social-count-plus>ul>li.count-tumblr>a:after {
    content: "\f173";
}

.social-count-plus>ul>li.count-twitch>a {
    background: #6441a5;
}

.social-count-plus>ul>li.count-twitch>a:after {
    content: "\f1e8";
}

.social-count-plus>ul>li.count-twitter>a {
    background: #29c5f6;
}

.social-count-plus>ul>li.count-twitter>a:after {
    content: "\f099";
}

.social-count-plus>ul>li.count-users>a {
    background: #bbb;
}

.social-count-plus>ul>li.count-users>a:after {
    content: "\f0c0";
}

.social-count-plus>ul>li.count-vimeo>a {
    background: #00acee;
}

.social-count-plus>ul>li.count-vimeo>a:after {
    content: "\f27d";
}

.social-count-plus>ul>li.count-youtube>a {
    background: #cd201f;
}

.social-count-plus>ul>li.count-youtube>a:after {
    content: "\f167";
}

#slider-nav a:hover {
    background-color: #2f2f2f
}

#slider-nav .flex-prev {
    left: 20px
}

#slider-nav .flex-next {
    right: 20px;
    background-position: -72px 0
}

.slide-cap {
    position: absolute;
    left: 10%;
    bottom: 20px;
    z-index: 8;
    display: inline-block;
    width: 80%;
    color: #fff;
    text-align: center;
    text-transform: uppercase
}

.slide-cap h1 {
    font-size: 25px;
    font-weight: 400
}

.slide-cap .post-title a {
    color: #fff
}

.slide-cap .post-title a:hover {
    color: #ccc
}

.feat-divider {
    display: block;
    width: 18px;
    height: 1px;
    margin: 13px auto;
    background-color: #fff
}

.slide-cap .post-date {
    font-size: 12px;
    font-weight: 400
}

.slide-cap-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: 200px;
    background: url(http://2.bp.blogspot.com/-7rXhavdt3ao/V2MO9dJX0XI/AAAAAAAAAdE/yHyixqvMl3sJlYuGJ_Z01g2SfCa6BHZfQCK4B/s1600/slide-cap-bg.png) repeat-x
}

.img-overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 35, 40, 0.0)
}

.custom-widget .rcthumb:hover .img-overlay,
.PopularPosts .item-thumbnail:hover a .img-overlay {
    background-color: rgba(40, 35, 40, 0.3)
}

.custom-widget li {
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    border-top: 1px solid #F3F3F3
}

.custom-widget .rcthumb {
    position: relative;
    float: left;
    margin: 0!important;
    width: 90px;
    height: 65px;
    overflow: hidden;
    display: block;
    vertical-align: middle
}

.custom-widget .post-panel {
    padding-left: 15px;
    display: table-cell
}

.custom-widget .rcp-title {
    overflow: hidden;
    line-height: 0;
    margin: 0 0 2px;
    padding: 0
}

.custom-widget .rcp-title a {
    color: #2f2f2f;
    font-size: 14px;
    line-height: 1.4em;
    margin: 2px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-weight: 600;
    color: #333;
    font-family: "Roboto", Arial, sans-serif;
}

.custom-widget .rcp-title a span {
    position: absolute;
    bottom: 0;
    right: 0;
}

.custom-widget .rcp-title a span:hover {
    cursor: pointer;
    text-decoration: underline
}

.custom-widget .rcp-title a:hover {
    color: #446CB3
}

.cmm-widget li .cmm-avatar {
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 55px;
    height: 55px;
    float: left;
    margin: 0 10px 0 0
}

.cmm-widget li {
    background: none!important;
    clear: both;
    list-style: none;
    word-break: break-all;
    display: block;
    border-top: 1px solid #F3F3F3;
    overflow: hidden;
    margin: 0;
    padding: 10px 0
}

.cmm-widget li:first-child {
    padding-top: 0;
    border-top: 0
}

.cmm-widget li:last-child {
    padding-bottom: 0
}

.cmm-widget li span {
    margin-top: 4px;
    color: #bdbdbd;
    display: block;
    line-height: 1.2em;
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 400
}

.cmm-img {
    width: 55px;
    height: 55px;
    float: left;
    margin: 0 10px 0 0
}

.cmm-widget a {
    color: #2f2f2f;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    overflow: hidden
}

.cmm-widget a:hover {
    color: #446CB3
}

.cmm-widget {
    list-style: none;
    padding: 0
}

.post {
    display: block;
    overflow: hidden;
    word-wrap: break-word
}

.index .post,
.archive .post {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    background-color: #fff;
    display: block
}

.block-image {
    background-color: #F3F3F3;
    position: relative;
    float: left;
    width: 365px;
    height: 260px;
    overflow: hidden
}

.block-image .thumb {
    width: 100%;
    height: 260px;
    position: relative;
    display: block;
    z-index: 2;
    overflow: hidden
}

.block-image .thumb a {
    width: 100%;
    height: 260px;
    display: block
}

.thumb-overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 35, 40, 0.0)
}

.block-image:hover .thumb a .thumb-overlay {
    background-color: rgba(40, 35, 40, 0.30)
}

.index article {
    overflow: hidden;
    padding: 20px
}

.retitle h2 {
    margin: 8px 0;
    display: block
}

.post h2 a,
.post h2 a:visited,
.post h2 strong {
    text-decoration: none;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 1.3em;
    font-weight: 600;
    color: #222;
}

.post h2 a:hover {
    color: #446CB3
}

.widget iframe,
.widget img {
    max-width: 100%
}

.index .post-footer,
.archive .post-footer {
    display: none!important
}

.index .post h2,
.archive .post h2 {
    margin: 0;
    padding: 0 10px 0 0;
    overflow: hidden
}

.item .post,
.static_page .post {
    padding: 0
}

.date-header {
    display: block;
    overflow: hidden;
    font-weight: 400;
    margin: 0!important;
    padding: 0
}

#meta-post {
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    line-height: 1.4em
}

#meta-post a.timestamp-link {
    color: #ccc;
    text-transform: uppercase
}

.resumo {
    margin-top: 5px;
    font-size: 14px;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em
}

.resumo span {
    display: block;
    margin: 8px 0 10px;
    padding-right: 10px
}

.post-meta {
    text-transform: uppercase;
    color: #ccc;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0;
    padding: 0
}

.breadcrumbs {
    display: none;
    margin: 0;
    font-size: 0
}

.item article,
.static_page article {
    margin-top: 15px
}

.item .post-head,
.static_page .post-head {
    position: relative;
    margin: 2px 0 10px
}

.item .post-title,
.static_page .post-title {
    color: #2f2f2f;
    font-size: 28px;
    line-height: 1.5em;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0
}

.item .post-body,
.static_page .post-body {
    width: 100%;
    color: #5E5E5E;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    overflow: hidden
}

.item .post-outer {
    padding: 0
}

.item .post-body img {
    max-width: 100%
}

.post-meta a {
    color: #ccc
}

.post-author a {
    color: #2f2f2f
}

.post-author a:hover {
    color: #446CB3
}

.post-timestamp {
    margin-left: 0
}

.post-meta .post-timestamp {
    margin-left: 10px
}

.main .widget {
    margin: 0
}

.main .Blog {
    border-bottom-width: 0
}

.single-elements {
    overflow: hidden;
    margin: 20px 0;
    padding: 15px 0;
    border-top: 1px solid #F3F3F3;
    border-bottom: 1px solid #F3F3F3
}

.label-head {
    float: left
}

.label-head a {
    display: inline-block;
    float: left;
    height: 24px;
    margin-right: 1px;
    padding: 0 8px;
    color: #fff;
    background-color: #446CB3;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 25px
}

.label-head a:hover {
    background-color: #2f2f2f
}

.share-box {
    float: right
}

.share-box li {
    float: left;
    display: inline-block;
    line-height: 0;
    padding: 0
}

.share-box a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 1px;
    background-color: #446CB3;
    background: #446CB3 url(http://1.bp.blogspot.com/-TTiaVviCUfs/V2gBVyw_tSI/AAAAAAAAAdw/EwY1TWXlQyAPV9CChGhfZ0OpY80VxyAPQCK4B/s1600/single-share.png) no-repeat;
    text-indent: -9999px
}

.facebook a {
    background-position: -25px 0
}

.google a {
    background-position: -50px 0
}

.pinterest a {
    background-position: -75px 0
}

.share-box a:hover {
    background-color: #2f2f2f
}

#related-wrap {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F3F3F3
}

.hide-label {
    display: none
}

.related-posts {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.related-posts .related-item {
    width: 32%;
    position: relative;
    overflow: hidden;
    float: left;
    display: block;
    box-sizing: border-box;
    margin: 0 0 0 2%;
    padding: 0
}

.related-posts li:first-child,
.related-posts li:nth-child(4) {
    margin-left: 0
}

.related-posts .related-item .related-thumb {
    width: 100%;
    height: 140px;
    background-color: #f3f3f3
}

.related-posts .related-item .related-img {
    width: 100%;
    height: 140px;
    position: relative;
    display: block
}

.related-overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 35, 40, 0.0)
}

.related-posts .related-thumb:hover .related-overlay {
    background-color: rgba(40, 35, 40, 0.30)
}

.related-content {
    padding: 8px 10px 0 0;
    width: 100%;
    line-height: 1.2em;
    box-sizing: border-box;
    z-index: 2
}

.related-posts h3 a {
    font-size: 12px;
    line-height: 1.5em;
    color: #2f2f2f;
    text-transform: uppercase;
    display: block
}

.related-posts h3 a:hover {
    color: #446CB3
}

#blog-pager {
    clear: both;
    text-align: center;
    margin: 0
}

.index #blog-pager {
    display: block
}

.index #blog-pager,
.archive #blog-pager {
    font-size: 14px;
    text-align: left;
    padding: 5px 0
}

#blog-pager-newer-link a,
#blog-pager-older-link a {
    display: block;
    float: left;
    margin-right: 0;
    padding: 0 12px;
    border: 0;
    text-transform: uppercase;
    line-height: 32px;
    font-weight: 400;
    background-color: #fff;
    color: #666;
    font-size: 14px
}

#blog-pager-newer-link a:hover,
#blog-pager-older-link a:hover {
    background-color: #446CB3;
    color: #fff
}

.showpageNum a,
.showpage a,
.showpagePoint {
    display: block;
    float: left;
    margin-right: 6px;
    padding: 0 14px;
    background-color: #fff;
    color: #666;
    border: 0;
    text-transform: uppercase;
    line-height: 34px;
    font-weight: 400
}

.showpageNum a:hover,
.showpage a:hover {
    background-color: #446CB3;
    color: #fff
}

.showpageNum a i,
.showpage a i {
    transition: all 0s ease;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease
}

.showpagePoint {
    background-color: #446CB3;
    color: #fff
}

.showpageOf {
    display: none!important
}

.blogger-tab {
    display: block
}

.comments-title h2,
.related-title h2 {
    color: #2f2f2f;
    position: relative;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 20px
}

.comments {
    clear: both;
    margin: 0;
    color: #2f2f2f
}

.comments h4 {
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    padding-top: 1px
}

.comments .comments-content {
    margin: 0;
    padding: 0
}

.comments .comments-content .comment {
    margin-bottom: 0;
    padding-bottom: 8px
}

.comments .comments-content .comment:first-child {
    padding-top: 0
}

.facebook-tab,
.fb_iframe_widget_fluid span,
.fb_iframe_widget iframe {
    width: 100%!important
}

.comments .item-control {
    position: static
}

.comments .avatar-image-container {
    float: left;
    overflow: hidden;
    position: absolute
}

.comments .avatar-image-container,
.comments .avatar-image-container img {
    height: 45px;
    max-height: 45px;
    width: 45px;
    max-width: 45px;
    border-radius: 0
}

.comments .comment-block {
    overflow: hidden;
    padding: 0 0 10px
}

.comments .comment-block,
.comments .comments-content .comment-replies {
    margin-left: 60px;
    margin-top: 0
}

.comments .comments-content .inline-thread {
    padding: 0
}

.comments .comment-actions {
    float: left;
    width: 100%;
    position: relative;
    margin: 0
}

.comments .comments-content .comment-header {
    font-size: 13px;
    display: block;
    overflow: hidden;
    clear: both;
    margin: 0 0 5px;
    padding: 0 0 5px;
    border-bottom: 1px solid #F3F3F3
}

.comments .comments-content .user {
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    display: block
}

.comments .comments-content .icon.blog-author {
    display: none
}

.comments .comments-content .comment-content {
    font-family: 'Open Sans', sans-serif;
    float: left;
    text-align: left;
    font-size: 13px;
    line-height: 1.4em;
    color: #656565
}

.comments .comment .comment-actions a {
    margin-right: 5px;
    padding: 2px 5px;
    color: #fff;
    font-weight: 400;
    background-color: #446CB3;
    font-size: 10px
}

.comments .comment .comment-actions a:hover {
    color: #fff;
    background-color: #2f2f2f;
    text-decoration: none
}

.comments .comments-content .datetime {
    color: #ccc;
    float: left;
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    margin: 2px 0 0;
    display: block
}

.comments .comments-content .comment-header a {
    color: inherit
}

.comments .comments-content .comment-header a:hover {
    color: #446CB3
}

.comments .thread-toggle {
    margin-bottom: 4px
}

.comments .thread-toggle .thread-arrow {
    height: 7px;
    margin: 0 3px 2px 0
}

.comments .thread-expanded {
    padding: 8px 0 0
}

.comments .comments-content .comment-thread {
    margin: 0
}

.comments .continue a {
    padding: 0 0 0 60px;
    font-weight: 400
}

.comments .comments-content .loadmore.loaded {
    margin: 0;
    padding: 0
}

.comments .comment-replybox-thread {
    margin: 0
}

iframe.blogger-iframe-colorize,
iframe.blogger-comment-from-post {
    height: 283px!important
}

.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
    font-family: 'Oswald', sans-serif;
    color: #2f2f2f;
    margin-bottom: 15px
}

blockquote {
    margin: 0;
    padding: 0 20px
}

blockquote:before {
    content: '\f10d';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    color: #2f2f2f
}

blockquote:after {
    content: '\f10e';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
    color: #2f2f2f
}

.widget .post-body ul,
.widget .post-body ol {
    line-height: 1.5;
    font-weight: 400
}

.widget .post-body li {
    margin: 5px 0;
    padding: 0;
    line-height: 1.5
}

.post-body ul li:before {
    content: "\f0da";
    margin-right: 5px;
    font-family: fontawesome
}

#sidebar-wrapper .widget {
    margin-bottom: 30px;
    overflow: hidden;
    padding: 25px;
    background: #fff;
}

.sidebar .widget .widget-title {
    position: relative;
    height: 30px
}

.sidebar .widget .widget-title h2:before {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    width: 36px;
    height: 3px;
    background-color: #446CB3;
}

.sidebar .widget .widget-title h2 {
    color: #2f2f2f;
    position: relative;
    line-height: 19px;
    padding-bottom: 13px;
    margin-bottom: 27px;
    border-bottom: 2px solid #F2f2f2;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.sidebar .widget-content {
    width: 300px;
    background-color: #fff;
    padding: 20px 0px 0px;
    margin: 0;
}

.sidebar ul {
    list-style: none
}

.list-label-widget-content li {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #F3F3F3;
    position: relative
}

.list-label-widget-content li:first-child {
    padding: 0 0 8px
}

.list-label-widget-content li:last-child {
    padding-bottom: 0;
    border-bottom: 0
}

.list-label-widget-content li a:before {
    content: '\203a';
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 22px;
    color: #2f2f2f
}

.list-label-widget-content li:first-child a:before {
    top: -7px
}

.list-label-widget-content li a {
    padding-left: 15px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    font-family: "Roboto", Arial, sans-serif;
}

.list-label-widget-content li a:hover {
    color: #446CB3
}

.list-label-widget-content li span:last-child {
    color: #999;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    top: 8px;
    right: 0
}

.list-label-widget-content li:first-child span:last-child {
    top: 2px
}

.cloud-label-widget-content {
    text-align: left;
    overflow: hidden;
}

.cloud-label-widget-content .label-count {
    background: #446CB3;
    color: #fff!important;
    margin-left: -3px;
    white-space: nowrap;
    border-radius: 0;
    padding: 1px 4px!important;
    font-size: 12px!important;
    margin-right: 5px
}

.cloud-label-widget-content .label-size {
    background: #f5f5f5;
    display: block;
    float: left;
    font-size: 11px;
    margin: 0 5px 5px 0
}

.cloud-label-widget-content .label-size a,
.cloud-label-widget-content .label-size span {
    height: 18px!important;
    color: #2f2f2f;
    display: inline-block;
    font-size: 11px;
    font-weight: 400!important;
    text-transform: uppercase;
    padding: 6px 8px
}

.cloud-label-widget-content .label-size a {
    padding: 6px 10px
}

.cloud-label-widget-content .label-size a:hover {
    color: #fff!important
}

.cloud-label-widget-content .label-size,
.cloud-label-widget-content .label-count {
    height: 30px!important;
    line-height: 19px!important
}

.cloud-label-widget-content .label-size:hover {
    background: #446CB3;
    color: #fff!important
}

.cloud-label-widget-content .label-size:hover a {
    color: #fff!important
}

.cloud-label-widget-content .label-size:hover span {
    background: #2f2f2f;
    color: #fff!important;
    cursor: pointer
}

.cloud-label-widget-content .label-size-1,
.label-size-2,
.label-size-3,
.label-size-4,
.label-size-5 {
    font-size: 100%;
    opacity: 10
}

.label-size-1,
.label-size-2 {
    opacity: 100
}

.FollowByEmail td {
    width: 100%;
    float: left;
    box-sizing: border-box
}

.FollowByEmail .follow-by-email-inner .follow-by-email-submit {
    margin-left: 0;
    width: 100%;
    border-radius: 0;
    height: 30px;
    font-size: 11px;
    color: #fff;
    background-color: #446CB3;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px
}

.FollowByEmail .follow-by-email-inner .follow-by-email-submit:hover {
    background-color: #3a3a3a
}

.FollowByEmail .follow-by-email-inner .follow-by-email-address {
    padding-left: 10px;
    height: 30px;
    border: 1px solid #FFF;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 11px;
    font-family: inherit
}

.FollowByEmail .follow-by-email-inner .follow-by-email-address:focus {
    border: 1px solid #FFF
}

.FollowByEmail .widget-content {
    background-color: #2f2f2f;
    margin-top: 20px;
    padding: 20px;
    max-width: 270px;
}

.FollowByEmail .widget-content:before {
    content: "Enter your email address to subscribe to this blog and receive notifications of new posts by email.";
    font-size: 12px;
    color: #f2f2f2;
    line-height: 1.4em;
    margin-bottom: 5px;
    display: block;
    padding: 0 2px;
    font-family: "Roboto";
}

.flickr_widget .flickr_badge_image {
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
    overflow: hidden;
    display: inline-block
}

.flickr_widget .flickr_badge_image:nth-of-type(4),
.flickr_widget .flickr_badge_image:nth-of-type(8),
.flickr_widget .flickr_badge_image:nth-of-type(12) {
    margin-right: 0
}

.flickr_widget .flickr_badge_image img {
    max-width: 67px;
    height: auto
}

.flickr_widget .flickr_badge_image img:hover {
    opacity: .5
}

#ArchiveList select {
    border: 1px solid #2f2f2f;
    padding: 6px 8px;
    width: 100%;
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    color: #2f2f2f
}

.PopularPosts .item-thumbnail {
    margin: 0 15px 0 0 !important;
    width: 90px;
    height: 65px;
    float: left;
    overflow: hidden
}

.PopularPosts .item-thumbnail a {
    position: relative;
    display: block;
    overflow: hidden;
    line-height: 0
}

.PopularPosts ul li img {
    padding: 0;
    width: 90px;
    height: 65px
}

.PopularPosts .widget-content ul li {
    overflow: hidden;
    padding: 10px 0;
    border-top: 1px solid #F3F3F3
}

.sidebar .PopularPosts .widget-content ul li:first-child,
.sidebar .custom-widget li:first-child {
    padding-top: 0;
    border-top: 0
}

.sidebar .PopularPosts .widget-content ul li:last-child,
.sidebar .custom-widget li:last-child {
    padding-bottom: 20px
}

.PopularPosts ul li a {
    font-size: 14px;
    line-height: 1.4em;
    margin: 2px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-weight: 600;
    color: #333;
    font-family: "Roboto", Arial, sans-serif;
}

.PopularPosts ul li a:hover {
    color: #446CB3
}

.PopularPosts .item-title {
    margin: 0;
    padding: 0;
    line-height: 0
}

.item-snippet {
    display: none;
    font-size: 0;
    padding-top: 0
}

#footer-wrapper {
    background-color: #fff;
    border-top: 1px solid #F3F3F3
}

#footer {
    overflow: hidden;
    margin: 0 auto;
    padding: 0
}

.sect-left {
    display: inline-block;
    float: left;
    width: 32%;
    margin-right: 2%
}

.sect-left:nth-child(3) {
    margin-right: 0
}

.sect-left .widget {
    padding: 20px 0
}

.sect-left .widget:nth-of-type(2) {
    padding-top: 0
}

.sect-left .widget h2 {
    color: #2f2f2f;
    position: relative;
    line-height: 19px;
    padding-bottom: 13px;
    margin-bottom: 27px;
    border-bottom: 2px solid #F2f2f2;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.sect-left .widget h2:before {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 36px;
    height: 3px;
    background-color: #446CB3
}

.sect-left .PopularPosts .widget-content ul li:first-child,
.sect-left .custom-widget li:first-child {
    padding-top: 0;
    border-top: 0
}

.sect-left .FollowByEmail .widget-content {
    padding: 10px;
    box-sizing: border-box
}

.sect-left .list-label-widget-content li:first-child a:before {
    top: -6px
}

.footer-wrapper {
    font-family: 'Open Sans', sans-serif;
    color: #aaa;
    background-color: #F3F3F3;
    display: block;
    padding: 10px 0;
    width: 100%;
    height: 30px;
    overflow: hidden;
    border-top: 1px solid #F3F3F3
}

.footer-wrapper .footer-copy {
    margin: 0 auto
}

.footer-wrapper .copyright {
    font-size: 12px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase
}

.footer-wrapper .copyright a {
    color: #aaa
}

.footer-wrapper .copyright a:hover {
    color: #446CB3
}

#back-to-top {
    position: fixed;
    right: 32px;
    bottom: 7%;
    display: none;
    width: 38px;
    height: 38px;
    background-color: #446CB3;
    background: #446CB3;
    z-index: 600;
    cursor: pointer;
    transition: background .3s;
    text-align: center;
}

div#back-to-top:before {
    content: "\f077";
    font-family: FontAwesome;
    color: #fff;
    line-height: 38px;
    text-align: center;
}

#back-to-top:hover {
    background-color: #2f2f2f
}

.error_page #content-wrapper {
    background-color: #fff
}

.error_page #main-wrapper {
    width: 100%!important;
    margin: 0!important
}

.error_page #sidebar-wrapper,
.error_page .status-msg-wrap {
    display: none
}

#error-wrap {
    color: #2f2f2f;
    text-align: center;
    padding: 60px 0 80px
}

.error-item {
    font-size: 160px;
    line-height: 1;
    margin-bottom: 20px
}

#error-wrap h2 {
    font-size: 25px;
    padding: 20px 0 10px
}

#error-wrap .homepage {
    padding-top: 10px;
    display: block
}

#error-wrap .homepage i {
    font-size: 20px
}

#error-wrap .homepage:hover {
    text-decoration: underline
}

.img-anime .recent-boxes .box-image,
.img-anime .recent-boxes .bf-thumb,
.img-anime .custom-widget .rcthumb,
.img-anime .PopularPosts img,
.img-anime .home .block-image .thumb a,
.img-anime .tc-thumb a,
.img-anime .related-thumb a,
.img-anime .PopularPosts .item-thumbnail a,
.img-anime .cmm-img {
    opacity: 0;
    transition: all 0s ease;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease
}

.img-anime .img-effect,
.img-anime .recent-boxes .box-image.img-effect,
.img-anime .recent-boxes .bf-thumb.img-effect,
.img-anime .recent-boxes .bf-thumb.img-effect,
.img-anime .custom-widget .rcthumb.img-effect,
.img-anime .PopularPosts img.img-effect,
.img-anime .block-image .thumb a.img-effect,
.img-anime .tc-thumb a.img-effect,
.img-anime .related-thumb a.img-effect,
.img-anime .PopularPosts .item-thumbnail a.img-effect,
.img-anime .cmm-img.img-effect {
    opacity: 1;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease
}

.mobile-menu {
    display: none;
}

.main-menu {
    margin: 0;
    display: flex;
    align-items: flex-start
}


/*----Responsive Design----*/

@media screen and (max-width: 1180px) {
    .row {
        max-width: 96%
    }
    #main-nav {
        max-width: 96%!important;
        background: transparent;
        position: relative!important;
        margin: 0 auto!important
    }
    .header-menu.row {
        max-width: 100%
    }
    #main-wrapper {
        width: 68%
    }
    #sidebar-wrapper {
        width: 32%;
        box-sizing: border-box;
        padding-left: 20px
    }
    .sidebar .widget-content {
        width: 100%;
        box-sizing: border-box
    }
}

@media screen and (max-width: 900px) {
    .main-menu {
        display: none;
    }
    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
    }
    .mobile-menu>div:first-child {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 13px;
    }
    .mobile-menu i {
        font-size: 3.35em;
        cursor: pointer;
    }
    .mobile-menu ul {
        background: #ffffff;
        display: flex;
        height: 0;
        flex-direction: column;
        position: absolute;
        z-index: 999;
        top: 48px;
        width: 100%;
        color: white;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    }
    .mobile-menu ul.open {
        height: 300px;
    }
    #main-wrapper {
        float: none;
        overflow: hidden;
        width: 100%
    }
    #sidebar-wrapper {
        width: 100%;
        margin: 20px auto;
        float: none;
        padding-left: 0
    }
    #footer {
        padding: 20px 0
    }
    .sect-left {
        width: 100%;
        margin-right: 0
    }
    .sect-left .widget {
        padding: 10px
    }
}

@media screen and (max-width: 800px) {
    #nav1,
    #menu-main-nav {
        display: none
    }
    #menu {
        overflow: hidden
    }
    .selectnav {
        display: block;
        color: #eee;
        height: 30px;
        line-height: 30px;
        margin: 14px 0 0 10px;
        padding: 0 5px
    }
    #back-to-top {
        display: none!important
    }
}

@media screen and (max-width: 740px) {
    #tagline,
    #header-search {
        display: none
    }
}

@media screen and (max-width: 600px) {
    #featured-slider,
    #featured-slider .slides>li,
    #featured-slider .slider-img,
    #featured-slider img {
        height: 300px
    }
    #slider-nav {
        display: none
    }
    .slide-cap h1 {
        font-size: 23px;
        line-height: 1.5em
    }
    .block-image {
        width: 100%
    }
    .index article {
        float: left
    }
}

@media screen and (max-width: 500px) {
    .related-posts .related-item {
        width: 100%;
        margin: 15px 0 0
    }
    .related-posts li.related-item:first-child {
        margin: 0
    }
}

@media screen and (max-width: 440px) {
    #featured-slider,
    #featured-slider .slides>li,
    #featured-slider .slider-img,
    #featured-slider img {
        height: 250px
    }
    .slide-cap h1 {
        font-size: 22px
    }
    .post h2 a,
    .post h2 a:visited,
    .post h2 strong,
    .item .post-title,
    .static_page .post-title {
        font-size: 18px
    }
}

@media screen and (max-width: 360px) {
    #main-header {
        height: auto;
        overflow: hidden
    }
    #logo-wrap,
    #logo-wrap #header,
    #header-inner a,
    .home #header-inner .titlewrapper {
        width: 100%;
        box-sizing: border-box;
        text-align: center
    }
    #header-inner a,
    .home #header-inner .titlewrapper {
        height: auto;
        padding: 15px
    }
    #header-inner img {
        max-height: none;
        vertical-align: baseline;
        display: block!important;
        line-height: 1.4em;
        margin: 0 auto;
        max-width: 100%;
        float: none
    }
    #header-elements {
        display: none
    }
    .slide-cap h1 {
        font-size: 20px
    }
    .post h2 a,
    .post h2 a:visited,
    .post h2 strong,
    .item .post-title,
    .static_page .post-title {
        font-size: 16px
    }
    .label-head {
        width: 100%;
        margin-bottom: 10px
    }
    .label-head a {
        margin-bottom: 1px
    }
    .share-box {
        float: left
    }
    .share-box a {
        margin-left: 0;
        margin-right: 1px
    }
}

@media screen and (max-width: 310px) {
    .selectnav {
        max-width: 118px
    }
    .error-item {
        font-size: 120px
    }
}


/*-------Typography and ShortCodes-------*/

.firstcharacter {
    float: left;
    color: #27ae60;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px
}

.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
    margin-bottom: 15px;
    color: #2c3e50
}

blockquote {
    font-style: italic;
    color: #888;
    border-left: 5px solid #27ae60;
    margin-left: 0;
    padding: 10px 15px
}

blockquote:before {
    content: '\f10d';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    color: #888
}

blockquote:after {
    content: '\f10e';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
    color: #888
}

.button {
    background-color: #2c3e50;
    float: left;
    padding: 5px 12px;
    margin: 5px;
    color: #fff;
    text-align: center;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    display: block;
    text-decoration: none;
    font-weight: 400;
    transition: all .3s ease-out !important;
    -webkit-transition: all .3s ease-out !important
}

a.button {
    color: #fff
}

.button:hover {
    background-color: #27ae60;
    color: #fff
}

.button.small {
    font-size: 12px;
    padding: 5px 12px
}

.button.medium {
    font-size: 16px;
    padding: 6px 15px
}

.button.large {
    font-size: 18px;
    padding: 8px 18px
}

.small-button {
    width: 100%;
    overflow: hidden;
    clear: both
}

.medium-button {
    width: 100%;
    overflow: hidden;
    clear: both
}

.large-button {
    width: 100%;
    overflow: hidden;
    clear: both
}

.demo:before {
    content: "\f06e";
    margin-right: 5px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.download:before {
    content: "\f019";
    margin-right: 5px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.buy:before {
    content: "\f09d";
    margin-right: 5px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.visit:before {
    content: "\f14c";
    margin-right: 5px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.widget .post-body ul,
.widget .post-body ol {
    line-height: 1.5;
    font-weight: 400
}

.widget .post-body li {
    margin: 5px 0;
    padding: 0;
    line-height: 1.5
}

.post-body ul li:before {
    content: "\f105";
    margin-right: 5px;
    font-family: fontawesome
}

pre {
    font-family: Monaco, "Andale Mono", "Courier New", Courier, monospace;
    background-color: #2c3e50;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent);
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent);
    -webkit-background-size: 100% 50px;
    -moz-background-size: 100% 50px;
    background-size: 100% 50px;
    line-height: 25px;
    color: #f1f1f1;
    position: relative;
    padding: 0 7px;
    margin: 15px 0 10px;
    overflow: hidden;
    word-wrap: normal;
    white-space: pre;
    position: relative
}

pre:before {
    content: 'Code';
    display: block;
    background: #F7F7F7;
    margin-left: -7px;
    margin-right: -7px;
    color: #2c3e50;
    padding-left: 7px;
    font-weight: 400;
    font-size: 14px
}

pre code,
pre .line-number {
    display: block
}

pre .line-number a {
    color: #27ae60;
    opacity: 0.6
}

pre .line-number span {
    display: block;
    float: left;
    clear: both;
    width: 20px;
    text-align: center;
    margin-left: -7px;
    margin-right: 7px
}

pre .line-number span:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.11)
}

pre .line-number span:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05)
}

pre .cl {
    display: block;
    clear: both
}

#contact {
    background-color: #fff;
    margin: 30px 0 !important
}

#contact .contact-form-widget {
    max-width: 100% !important
}

#contact .contact-form-name,
#contact .contact-form-email,
#contact .contact-form-email-message {
    background-color: #FFF;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px !important;
    max-width: 100% !important
}

#contact .contact-form-name {
    width: 47.7%;
    height: 50px
}

#contact .contact-form-email {
    width: 49.7%;
    height: 50px
}

#contact .contact-form-email-message {
    height: 150px
}

#contact .contact-form-button-submit {
    max-width: 100%;
    width: 100%;
    z-index: 0;
    margin: 4px 0 0;
    padding: 10px !important;
    text-align: center;
    cursor: pointer;
    background: #27ae60;
    border: 0;
    height: auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color: #FFF
}

#contact .contact-form-button-submit:hover {
    background: #2c3e50
}

#contact .contact-form-email:focus,
#contact .contact-form-name:focus,
#contact .contact-form-email-message:focus {
    box-shadow: none !important
}

.alert-message {
    position: relative;
    display: block;
    background-color: #FAFAFA;
    padding: 20px;
    margin: 20px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #2f3239;
    border: 1px solid
}

.alert-message p {
    margin: 0 !important;
    padding: 0;
    line-height: 22px;
    font-size: 13px;
    color: #2f3239
}

.alert-message span {
    font-size: 14px !important
}

.alert-message i {
    font-size: 16px;
    line-height: 20px
}

.alert-message.success {
    background-color: #f1f9f7;
    border-color: #e0f1e9;
    color: #1d9d74
}

.alert-message.success a,
.alert-message.success span {
    color: #1d9d74
}

.alert-message.alert {
    background-color: #DAEFFF;
    border-color: #8ED2FF;
    color: #378FFF
}

.alert-message.alert a,
.alert-message.alert span {
    color: #378FFF
}

.alert-message.warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b
}

.alert-message.warning a,
.alert-message.warning span {
    color: #8a6d3b
}

.alert-message.error {
    background-color: #FFD7D2;
    border-color: #FF9494;
    color: #F55D5D
}

.alert-message.error a,
.alert-message.error span {
    color: #F55D5D
}

.fa-check-circle:before {
    content: "\f058"
}

.fa-info-circle:before {
    content: "\f05a"
}

.fa-exclamation-triangle:before {
    content: "\f071"
}

.fa-exclamation-circle:before {
    content: "\f06a"
}

.post-table table {
    border-collapse: collapse;
    width: 100%
}

.post-table th {
    background-color: #eee;
    font-weight: bold
}

.post-table th,
.post-table td {
    border: 0.125em solid #333;
    line-height: 1.5;
    padding: 0.75em;
    text-align: left
}

@media (max-width: 30em) {
    .post-table thead tr {
        position: absolute;
        top: -9999em;
        left: -9999em
    }
    .post-table tr {
        border: 0.125em solid #333;
        border-bottom: 0
    }
    .post-table tr+tr {
        margin-top: 1.5em
    }
    .post-table tr,
    .post-table td {
        display: block
    }
    .post-table td {
        border: none;
        border-bottom: 0.125em solid #333;
        padding-left: 50%
    }
    .post-table td:before {
        content: attr(data-label);
        display: inline-block;
        font-weight: bold;
        line-height: 1.5;
        margin-left: -100%;
        width: 100%
    }
}

@media (max-width: 20em) {
    .post-table td {
        padding-left: 0.75em
    }
    .post-table td:before {
        display: block;
        margin-bottom: 0.75em;
        margin-left: 0
    }
}


/*------Layout (No Edit)----------*/

body#layout .theme-opt {
    display: block!important;
}

body#layout #outer-wrapper,
body#layout .row {
    padding: 0;
    width: 800px
}

body#layout .section h4 {
    margin: 2px 0 8px;
    color: #333!important
}

body#layout .ibpanel {
    background-color: #2c3e50!important;
    overflow: hidden!important;
    border-color: #213243!important
}

body#layout .ibpanel h4 {
    font-size: 16px;
    padding: 0;
    color: #fff!important
}

body#layout .ibpanel .widget {
    float: left;
    width: 49%;
    margin-right: 2%
}

body#layout .ibpanel #HTML904 {
    margin-right: 0
}

body#layout .ibpanel .widget.locked-widget .widget-content {
    background-color: #34495e!important;
    border-color: #455668!important;
    color: #fff!important
}

body#layout .ibpanel .widget.locked-widget .widget-content a.editlink {
    color: #fff!important;
    border: 1px solid #233648;
    border-radius: 2px;
    padding: 0 5px;
    background-color: #233648
}

body#layout #topnav,
body#layout .tm-head {
    height: auto
}

body#layout .tm-menu {
    margin: 0;
    width: 70%
}

body#layout .social-area {
    margin: 0;
    width: 30%
}

body#layout .sidebar .widget-content {
    width: 85%
}

body#layout .FollowByEmail .widget-content:before {
    display: none
}

body#layout #main-header {
    height: auto;
    margin-bottom: 0
}

body#layout #logo-wrap,
body#layout #header-elements {
    width: 49%
}

body#layout #logo-wrap #header,
body#layout #header-social,
body#layout #social-top {
    width: 95%
}

body#layout #header-search {
    display: none
}

body#layout #header-social a {
    height: auto;
    opacity: 1
}

body#layout #menu,
body#layout #menu1 {
    display: block;
    background-color: #6dad88;
    border-color: #338957
}

body#layout #main-nav,
body#layout .header-menu {
    height: auto
}

body#layout .header-menu li.li-home {
    display: none
}

body#layout .header-menu {
    float: left;
    width: 100%;
    margin: 4px 0 0;
    padding: 0
}

body#layout #content-wrapper {
    margin: 0 auto
}

body#layout .box-sec .widget-content,
body#layout .box-sec h2 {
    display: block
}

body#layout #main-wrapper {
    float: left;
    width: 70%;
    margin: 0;
    padding: 0
}

body#layout .posts-title {
    display: none
}

body#layout #sidebar-wrapper {
    float: right;
    width: 30%;
    margin: 0;
    padding: 5px 0 0;
    background-color: #f8e244!important
}

body#layout #sidebar-wrapper .section {
    background-color: #fff;
    border: 1px solid #fff
}

body#layout #sidebar-wrapper .section .draggable-widget .widget-wrap2 {
    background-color: #5a7ea2!important
}

body#layout #footer-wrapper {
    overflow: hidden
}

body#layout .sect-left {
    width: 25%;
    float: left;
    margin: 0 2% 8px!important
}

body#layout #blocked-widgets,
body#layout #pop-sec,
body#layout #contact {
    display: none!important
}

body#layout #featured-sec {
    background-color: #f9a85f;
    border-color: #fb8f3d
}

body#layout #featured-sec .widget-content {
    display: block
}

body#layout #featured-sec .draggable-widget .widget-wrap2 {
    background-color: #fb8f3d!important
}

body#layout #featured-sec .add_widget {
    border-color: #fb8f3d
}

body#layout #main-wrapper #main {
    margin-right: 4px;
    background-color: #5a7ea2;
    border-color: #34495e
}

body#layout #main-wrapper #main h4 {
    color: #fff!important
}

body#layout .layout-widget-description {
    display: none!important
}

body#layout .box-sec {
    background-color: #7fc1ed!important;
    border-color: #3498db!important
}

body#layout .box-sec .draggable-widget .widget-wrap2 {
    background-color: #3498db!important;
    cursor: move
}

body#layout .box-sec .add_widget {
    border-color: #3498db
}

body#layout #sidebar {
    margin-top: 10px
}

body#layout .widget-content .editlink {
    color: #fff!important;
    border: 1px solid #233648;
    border-radius: 2px;
    padding: 0 5px;
    background-color: #233648
}

body#layout #footer {
    overflow: hidden;
    background-color: #1abc9c;
    padding-top: 10px;
    margin-bottom: 10px
}

body#layout #footer:before {
    content: "Footer Sections";
    font-size: 25px;
    color: #fff;
    padding: 0 0 10px;
    text-align: center;
    display: block;
    font-family: raleway
}

body#layout #footer .section .draggable-widget .widget-wrap2 {
    background-color: #1abc9c!important
}

body#layout #footer-sec3 {
    margin-right: 0
}

#layout:before {
    content: 'This is the property of ThemeXpose.com';
    text-transform: uppercase;
    font-size: 20px;
    color: #999;
    margin: 0 0 20px 0;
    display: inline-block;
    font-weight: 700;
    padding: 20px;
    font-family: sans-serif;
    border: 4px double #FD856E;
}

.blog-pager ul li {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(125, 125, 125, .5);
    margin: 0 3px;
    cursor: pointer;
}

.blog-pager ul {
    display: flex;
}

.blog-pager ul li:hover,
.blog-pager ul li:hover a {
    background: rgb(68, 108, 179);
    color: white
}