.page-bannertext{
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#home-area{
    max-height: 500px;
    overflow-y: hidden;
    position: relative;
}

#home-area > img{
    filter: blur(0.9px);
    -webkit-filter: blur(0.9px);
    -ms-filter: blue(0.9px);
    width: 100%;
}