/*

Template:  The Kings - Responsive Multi-purpose HTML5 Template
Author:bootexperts.com
Version: 1
Developed by: bootexperts.com

NOTE: This is Style customizer stylesheet of template.

*/

div.style-customizer {
  background-color: #fff;
  bottom: 0;
  box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
  color: #262626;
  height: 100%;
  left: -300px;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 9999999;
}

.style-customizer a.button:hover {
    color:#2395ec !important; 
}

.style-customizer.closed {
    box-shadow: none;
}

.style-customizer a.button:hover:after {
    z-index: -1;
}

.style-customizer a.button {
    z-index: 9;
}

.style-customizer a.button.button-border {
  background: #2395ec none repeat scroll 0 0;
  border: 1px solid #2395ec;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 30px;
  text-transform: uppercase;
  width: 100%;
  color:#fff;
  font-weight:700;
      height: 40px;
}
.style-customizer a.button.button-border:hover {
  background: transparent

}

div.style-customizer .buy-button {
    padding: 30px 30px 30px 30px;
    text-align: center;
    display: inline-block;
    z-index: 2;
    position: absolute;
    background: #fff;
    width: 100%;
}

div.style-customizer .content-chooser {
    padding: 90px 22px 30px 30px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
    border-top: none;
}

div.style-customizer.opened .content-chooser {
    opacity: 1;
}

.content-chooser p {
    margin-bottom: 10px;
}

div.style-customizer h2 {
    margin: 0;
    font-size: 18px;
}

div.style-customizer h3 {
  font-size: 16px;
  line-height: 34px;
  margin-top: 30px;
}

div.style-customizer hr {
    margin: 15px 0;
}

div.style-customizer hr + h3 {
    margin-top: 0;
}

div.style-customizer a.opener {
    display: block;
    height: 45px;
    position: absolute;
    left: 300px;
    top: 200px;
    background: #fff;
    width: 45px;
    font-size: 20px;
    line-height: 45px;
    color: #777777;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.14), -1px 0 3px 0 rgba(0, 0, 0, 0.14);
}

div.style-customizer.opened a.opener {
    right: -45px;
    border-color: transparent;
}
div.style-customizer a.opener i {
  line-height: 45px;
}
div.style-customizer ul {
    list-style: none;
    margin: 0;
    padding: 5px 0 0 0;
    font-size: 0;
}

div.style-customizer ul li {
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 25px;
  margin: 0 2px 3px 0;
  position: relative;
  transition: all 0.3s linear 0s;
  width: 60px;
}
div.style-customizer ul.layoutstyle li {
  background-color: #f1f1f1;
  border: 1px solid #2395ec;
  color: #2395ec;
  font-size: 14px;
  font-weight: 700;
  height: 30px;
  line-height: 26px;
  padding-right: 5px;
  text-align: center;
  width: 49%;
}
div.style-customizer ul.layoutstyle li:hover {
  background-color: #2395ec;
  color: #fff;
}

div.style-customizer ul.layoutstyle li i {
    color: #cccccc;
    font-size: 11px;
}

div.style-customizer ul.layoutstyle li.selected {
    border: 1px solid #aaaaaa;
}

div.style-customizer ul.layoutstyle li.selected i {
    color: #666666;
}

div.style-customizer ul.footerChange li {
    width: 45%;
    height: 30px;
    margin-right: 5px;
    font-size: 13px;
    padding: 6px 14px 0;
}

div.style-customizer ul.footerChange li.dark {
    color: #f1f1f1;
    background-color: #262626;
}

div.style-customizer ul.footerChange li.light {
    color: #333333;
    background-color: #f7f7f7;
}

div.style-customizer ul.footerChange li i {
    width: 20px;
}
div.style-customizer ul.patternChange li {
  border: 1px solid #ccc;
}
div.style-customizer ul.patternChange li.pattern-0.selected:after,
div.style-customizer ul.patternChange li.pattern-1.selected:after,
div.style-customizer ul.patternChange li.pattern-2.selected:after,
div.style-customizer ul.patternChange li.pattern-3.selected:after,
div.style-customizer ul.patternChange li.pattern-4.selected:after {
    color: #333333;
}

div.style-customizer ul.patternChange li.selected:after {
    color: #ffffff;
}

div.style-customizer ul li.selected {
    border: 1px solid #000;
}

div.style-customizer ul.resetAll li {
    width: 100%;
    padding: 6px 0;
    min-width: 0;
    text-align: center;
    margin-top: 30px;
}

div.style-customizer .btn a {
    text-decoration: none;
    color: #ffffff;
}

div.style-customizer select {
    width: 100%;
    padding: 5px;
    border: 1px solid #b2bfca;
}


/*Color Skins*/

div.style-customizer .color-1 {
    background: #2395ec;
}
div.style-customizer .color-2 {
    background: #05c2f9;
}
div.style-customizer .color-3 {
    background: #FF5D75;
}
div.style-customizer .color-4 {
    background: #2196F3;
}
div.style-customizer .color-5 {
    background: #00BCD4;
}
div.style-customizer .color-6 {
    background: #F44336;
}
div.style-customizer .color-7 {
    background: #E91E63;
}
div.style-customizer .color-8 {
    background: #9C27B0;
}
div.style-customizer .color-9 {
    background: #673AB7; 
}
div.style-customizer .color-10 {
    background: #3F51B5; 
}
div.style-customizer .color-11 {
    background: #009688; 
}
div.style-customizer .color-12 {
    background: #4CAF50; 
}
div.style-customizer .color-13 {
    background: #8BC34A; 
}
div.style-customizer .color-14 {
    background: #CDDC39; 
}
div.style-customizer .color-15 {
    background: #FFEB3B; 
}
div.style-customizer .color-16 {
    background: #FFC107; 
}
div.style-customizer .color-17 {
    background: #FF9800; 
}
div.style-customizer .color-18 {
    background: #FF5722; 
}
div.style-customizer .color-19 {
    background: #795548; 
}
div.style-customizer .color-20 {
    background: #607D8B; 
}


/*Background Patterns*/

.pattern-1 {
    background-image: url("../img/customizer/pattern/1.png");
}
.pattern-2 {
    background-image: url("../img/customizer/pattern/2.png");
}
.pattern-3 {
    background-image: url("../img/customizer/pattern/3.png");
}
.pattern-4 {
    background-image: url("../img/customizer/pattern/4.png");
}
.pattern-5 {
    background-image: url("../img/customizer/pattern/5.png");
}
.pattern-6 {
    background-image: url("../img/customizer/pattern/6.png");
}
.pattern-7 {
    background-image: url("../img/customizer/pattern/7.png");
}
.pattern-8 {
    background-image: url("../img/customizer/pattern/8.png");
}

/*Background img*/

.main-bg-change li {
    overflow: hidden;
}

.main-bg-change li img {
    height: 100%;
    width: 100%;
}

.main-bg-1,.main-bg-2,.main-bg-3,.main-bg-4,.main-bg-5,.main-bg-6,.main-bg-7,.main-bg-8 {
    background-image: url("../img/customizer/bodybg/01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.main-bg-2 {
    background-image: url("../img/customizer/bodybg/02.jpg");
}
.main-bg-3 {
    background-image: url("../img/customizer/bodybg/03.jpg");
}
.main-bg-4 {
    background-image: url("../img/customizer/bodybg/04.jpg");
}
.main-bg-5 {
    background-image: url("../img/customizer/bodybg/05.jpg");
}
.main-bg-6 {
    background-image: url("../img/customizer/bodybg/06.jpg");
}
.main-bg-7 {
    background-image: url("../img/customizer/bodybg/07.jpg");
}
.main-bg-8 {
    background-image: url("../img/customizer/bodybg/08.jpg");
}



/*extra*/


/*home-2*/

.boxed-layout .move-carousel {
    top: 9%;
    padding: 0px 0px 0px 35px;
}

.boxed-layout .awesome-features .awesome-features-device img {
    left: -440px;
}

.boxed-layout #video-background {
    height: 350px;
}

.boxed-layout #video-background .page-section-pt {
    padding: 60px 0px;
}

.boxed-layout #video-background .our-skills.bg-opacity-black-50.page-section-pt {
    padding: 75px 0;
}

.boxed-layout.home-2 .portfolio-info {
    display: none;
}

.boxed-layout.home-2 .owl-carousel-8 .owl-nav .owl-prev {
    left: 50%;
}

.boxed-layout.home-2 .owl-carousel-8 .owl-nav .owl-next {
    right: 50%;
}

.boxed-layout.home-2 .owl-carousel-8 .owl-controls {
    top: 20px;
}

.boxed-layout.home-2 .owl-carousel-8 .owl-nav i {
    color: #323232;
}

.boxed-layout.home-2 .owl-carousel-8 .owl-nav i:hover {
    background: transparent;
}


/*home-3*/

.boxed-layout.home-3 .portfolio .portfolio-item .portfolio-overlay a {
    font-size: 12px;
    line-height: 25px;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.boxed-layout.home-3 .portfolio .full-screen .portfolio-item .portfolio-overlay {
    top: -20px;
}

.boxed-layout.home-3 .portfolio .portfolio-item .portfolio-overlay span a {
    width: inherit;
    height: inherit;
    line-height: inherit;
    font-size: 14px;
}

.boxed-layout.home-3 .full-screen .portfolio-item .portfolio-overlay a i {
    font-size: 12px;
}

.boxed-layout.home-3 .portfolio-item .portfolio-overlay i {
    padding-left: 0px;
}

.boxed-layout.home-3 .feature-9 {
    height: 300px;
}

.boxed-layout.home-3 .feature-9:hover .feature-9-icon {
    right: 26%;
}

.boxed-layout.home-3 .custom-content li {
    line-height: 26px;
}


/*home-4*/

.boxed-layout .slider-fade-carousel .slider-contents {
    padding-left: 86px;
}

.boxed-layout .slider-fade-carousel .slider-contents h1 {
    font-size: 56px;
}

.boxed-layout.home-4 .mega-menu .menu-links > li:last-child {
    padding-right: 40px;
}

.boxed-layout.home-4 .our-blog .blog-box-info {
    padding: 20px 40px;
    max-height: 231px;
}

.boxed-layout.home-4 .our-blog .blog-box-info span.text-white {
    display: none;
}

.boxed-layout.home-4 .our-blog .blog-box-info p.pt-30.pb-20 {
    padding-bottom: 0px !important;
    padding-top: 10px !important;
}

.boxed-layout.home-4 .our-blog .blog-box-image {
    max-height: 231px;
}

.boxed-layout.home-4 .mega-menu .drop-down-multilevel.right-menu {
    right: 76px;
}

.boxed-layout .contact-3-info .contact-add p {
    font-size: 12px;
}


/*Box Layout Responsive*/

@media (min-width: 768px) {
    .boxed-layout .page-wrapper {
        width: 750px;
    }
    .boxed-layout.page-wrapper {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .boxed-layout .page-wrapper {
        width: 970px;
    }
    .boxed-layout.page-wrapper {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .boxed-layout .page-wrapper {
        width: 1240px;
    }
    .boxed-layout.page-wrapper {
        width: 1240px;
    }
}

.boxed-layout .fullscreen-bg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.white-bg {
    background-color: #fff;
}

.patternChange .main-bg-change li.main-bg-1 {
    background-image: url("../img/main-bg-0.jpg");
}

@media( max-width:992px) {
    .style-customizer {
        display: none !important;
    }
    .boxed-layout .page-wrapper {
        width: inherit;
    }
    .boxed-layout.page-wrapper {
        width: inherit;
    }
}

.customizer-logo {
  display: block;
  margin-bottom: 20px;
}


















